---
title: Page not found
desc: 404 Page not found
ignore: true
---
<div class="mx-auto">
	<h1 class="text-4xl">404 - Page Not Found</h1>
	<a class="p-1 sm:p-4 w-64 font-bold mx-auto bg-gray-200 dark:bg-gray-800 text-center rounded-md text-black dark:text-white" href="/">Return Home</a>
</div>