---
title: Blog
desc: listing of blog posts
---

<div class="dark:text-white">
	<h2 class="font-black text-4xl tracking-tight mb-8">All posts</h2>

	{# <div class="relative w-full mt-6 mb-10">
		<input
			aria-label="Search articles"
			type="text"
			placeholder="Search articles"
			class="block w-full px-4 py-2 text-gray-900 dark:text-white bg-white border-[2px] border-emerald-400 rounded-md dark:bg-transparent focus:outline-none"
			id="search-bar"
		/><svg
			class="absolute w-5 h-5 text-gray-400 right-3 top-3 dark:text-gray-300"
			xmlns="http://www.w3.org/2000/svg"
			fill="none"
			viewBox="0 0 24 24"
			stroke="currentColor"
		>
			<path
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-width="2"
				d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
			></path>
		</svg>
	</div> #}

	<div>
		<ul class="space-y-8" id="posts-list">
			{% for post in collections.blog | reverse %}
			<li>
				<a href="{{ post.url }}" class="space-y-3">
					<div class="flex justify-between items-center">
						<p class="font-black text-lg">{{ post.data.title }}</p>
						<time class="text-gray-400 text-sm"
							>{{ post.data.date.toLocaleString('en-US', { year:
							'numeric', month: 'long', day: 'numeric' }) }}</time
						>
					</div>
					<p class="text-gray-500 dark:text-gray-300">
						{{ post.templateContent | striptags(true) | truncate(80)
						}}
					</p>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>