<div class="border-t py-6 mt-14">
	<div class="w-full max-w-2xl grid grid-cols-1 gap-4 pb-16 sm:grid-cols-3">
		<div class="flex flex-col space-y-4">
			<a
				class="text-gray-500 hover:text-emerald-500 hover:font-bold"
				href="/"
				>Home</a
			><a
				class="text-gray-500 hover:text-emerald-500 hover:font-bold"
				href="/about"
				>About</a
			>
		</div>
		<div class="flex flex-col space-y-4">
			<a
				class="text-gray-500 hover:text-emerald-500 hover:font-bold"
				target="_blank"
				rel="noopener noreferrer"
				href="https://twitter.com/husnaram_"
				>Twitter</a
			><a
				class="text-gray-500 hover:text-emerald-500 hover:font-bold"
				target="_blank"
				rel="noopener noreferrer"
				href="https://github.com/husnaram"
				>GitHub</a
			>
		</div>
		<div class="flex flex-col space-y-4">
			<a
				class="text-gray-500 hover:text-emerald-500 hover:font-bold"
				href="/snippets"
				>Projects</a
			>
			<a
				class="text-gray-500 hover:text-emerald-500 hover:font-bold"
				href="/snippets"
				>Snippets</a
			>
		</div>
	</div>
</div>
