<div class="flex flex-col md:flex-row md:justify-between">
	<div>
		<h1 class="font-black text-4xl tracking-tight mb-1 dark:text-white">{{ env.siteName }}</h1>
		<h2 class="mb-4 dark:text-white">{{ env.role }}</h2>
		<p class="text-gray-600 dark:text-gray-400">{{ env.slogan | safe }}</p>
	</div>
	<div class="mb-6 order-first md:order-none w-[95px] grayscale flex-none">
		<img src="{{ '../assets/img/profile.jpeg' | url }}" alt="husna's profile photo" class="max-h-full max-w-full rounded-full" />
	</div>
</div>
