<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{{ title }}</title>
        <meta name="description" content="{{ desc or title }}" />

        {% include '_partials/favicon.njk' %}

        <!-- Open graph -->
        <meta property="og:title" content="{{ title }}" />
        <meta property="og:description" content="{{ desc or title }}" />
        <meta property="og:type" content="article" />
        <meta property="og:image" content="{{ cover }}" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="675" />

        <!-- Twitter -->
        <meta name="twitter:title" content="{{ title }}" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@husnaram_" />
        <meta name="twitter:description" content="{{ desc or title }}" />
        <meta name="twitter:image" content="{{ cover }}" />
        <meta name="twitter:creator" content="@husnaram_" />

        {# Inline CSS minified #}
        {% set css %}
            {% include "../../assets/css/main.css" %}
            {% include "../../assets/css/prism-one-dark.css" %}
        {% endset %}
        <style>
            {{ css | cssmin | safe }}
        </style>

        {# Google Analytics #}
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id={{ env.tracking.gtag }}"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', '{{ env.tracking.gtag }}');
        </script>

        {# No indexing #} 
        {% if ignore %}
            <meta name="robots" content="noindex" />
        {% endif %}
    </head>
    <body class="bg-zinc-100 dark:bg-black dark:text-black">
        
        <div class="px-6 md:hidden">
            {% include "_partials/nav-mobile.njk" %}
        </div>

        {% if page.url === '/' %}
        <div class="px-6 md:px-4 max-w-2xl mx-auto py-10">
            {% include "_partials/self.njk" %}
        </div>
        {% endif %}

        <nav class="hidden md:flow-root px-2 max-w-2xl mx-auto mb-4">
            {% include "_partials/nav.njk" %}
        </nav>

        <main class="px-6 md:px-4 max-w-2xl mx-auto mt-6 md:mt-0">
            {% block main %}{% endblock %}
        </main>

        <footer class="px-6 md:px-4 max-w-2xl mx-auto">
            {% include "_partials/footer.njk" %}
        </footer>

        {# When available put Post Structured Data #}
        {% block structData %}{% endblock %}

        {# Inline javascript minified #} 
        {% set js %}
            {% include "../../assets/main.js" %}
        {% endset %}
        <script>
            {{ js | jsmin | safe }}
        </script>

    </body>
</html>
