{% extends "base.njk" %}

{% block main %}
  <!-- the content -->
  <article class="space-y-6 dark:text-white">
    <h2 class="font-black text-3xl tracking-tight">{{ title }}</h2>
    <div class="flex items-center justify-between mb-4 text-sm">
      <div class="flex items-center space-x-2">
        <div class="w-[28px] flex-none">
          <img src="../assets/img/profile.jpeg" alt="husna's profile photo" class="max-h-full max-w-full rounded-full" />
        </div>
        <p class="text-gray-600 dark:text-white">{{ env.author }} / <time class="text-gray-400 text-sm">{{ date.toLocaleString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) }}</time></p>
      </div>
    </div>
    <div class="prose prose-slate dark:prose-invert dark:text-white">
      {{ content | safe }}
    </div>
  </article>
{% endblock %}

{% block structData %}
  <!-- the structured data -->
  {% set absoluteUrl = env.base.site + (page.url | replace('.html', '')) %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "@id": "{{ absoluteUrl }}",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ absoluteUrl }}"
      },
      "url": "{{ absoluteUrl }}",
      "headline": "{{ desc }}",
      "description": "{{ title }}",
      "audience": "web developers and designers",
      "image": {
        "@type": "ImageObject",
        "url": "{{ cover }}",
        "height": 675,
        "width": 1200
      },
      "dateCreated": "{{ date }}",
      "datePublished": "{{ date }}",
      "dateModified": "{{ date }}",
      "articleSection": "Blog",
      "author": {
        "@type": "Person",
        "name": "{{ env.author }}",
        "image": {
          "@type": "ImageObject",
          "url": "{{ env.base.img }}your_photo.jpg",
          "height": 1024,
          "width": 1024
        },
        "url": "{{ env.base.site }}"
      },
      "publisher": {
        "@type": "Organization",
        "@id": "{{ env.base.site }}",
        "name": "{{ env.siteName }}",
        "url": "{{ env.base.site }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ env.base.img }}your_photo.jpg",
          "height": 1024,
          "width": 1024
        }
      }
    }
  </script>
{% endblock %}
